body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:lightgrey;
    font-size: 100%;
}



.image{
    height: 200px;
    width: 300px;
    image-rendering: auto;
    box-shadow: 20px 20px 20px gray;
    position: sticky;

}

.conteneur{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
    max-width: 1000px;
    
}

.champs {
    display: flex;
    flex-wrap: wrap;
}

input:not(.button), select {
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
    height: 30px;
}

.button {
    margin-right: 5px;
    border: none;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgb(146, 143, 143);
    background-color: rgb(246, 246, 246);
    padding: 5px;
}

input {
    border: none;
    padding-bottom: 4px;
    margin-right: 10px;
    border-bottom: 2px solid red;
}


select {
    border: none;
    background-color: lightgrey;
}

input:not(:placeholder-shown) {
    border-color: red;
    caret-color: red;
}

input:valid {
    border-color: lightgrey;
    caret-color: black;
}

#tableau {
    width: 100%;
}

#scroll {
    overflow-x: auto;
    border-collapse: collapse;
    white-space: nowrap;
    
}

td, th {
    text-align: center;
    padding: 5px;
}

tr:not(#dernier) {
    border-bottom: 2px solid black;
}

footer {
    height: 30px;
    background-color: lightblue;
    font-size: large;
    text-align: center;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0
}

header {
    position: move;
    top: 10px;
   
    
}

body {
    display: inline;
    
}

#ajouter {
    opacity: 50%;
}


.image1{
    background-size: auto;
    width: auto;
    height: auto;
    
}

.p{
    border: 100px;
    position: relative;
    
}
